VITE_SALON_NAME=Cosmora Beauty Studio
VITE_SALON_TAGLINE=Where Beauty Meets Elegance
VITE_SALON_PHONE=+1 (555) 123-4567
VITE_SALON_WHATSAPP=+15551234567
VITE_SALON_EMAIL=hello@cosmora.com
VITE_SALON_ADDRESS=123 Elegance Avenue, Beverly Hills, CA 90210
VITE_SALON_MAP_LINK=https://maps.google.com/?q=Beverly+Hills+CA

VITE_SALON_PRIMARY_COLOR=#8B5E3C
VITE_SALON_SECONDARY_COLOR=#F5E6D3
VITE_SALON_ACCENT_COLOR=#D4A574

VITE_SALON_FACEBOOK=https://facebook.com/cosmora
VITE_SALON_INSTAGRAM=https://instagram.com/cosmora
VITE_SALON_TIKTOK=https://tiktok.com/@cosmora

VITE_SALON_OPEN_DAYS=Monday - Saturday
VITE_SALON_OPEN_HOURS=9:00 AM - 7:00 PM

VITE_ONLINE_BOOKING_ENABLED=true
VITE_ONLINE_PAYMENT_ENABLED=true
VITE_PAY_AT_SALON_ENABLED=true

VITE_STRIPE_PUBLIC_KEY=pk_test_your_stripe_public_key
VITE_STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key

VITE_CURRENCY=USD
VITE_TIMEZONE=America/Los_Angeles
